.authContainer {
  display: flex;
  justify-content: center;
  gap: 0 10rem;
}
.formContainer {
  width: 100%;
  max-width: 400px;
  margin: 5rem auto;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem 1.2rem;
  padding: 1.8rem;
  font-size: 1.8rem;
}
input {
  padding: 1.2rem 0.8rem;
  border: 1px solid #fcba03;
  border-radius: 0.4rem;
  width: 100%;
}

.register {
  text-align: center;
}

.loginBtn,
.signupBtn {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  background-color: #fcba03;
  color: #fff;
  cursor: pointer;
  padding: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.authLink {
  color: #fcba03;
}
.error{
  color:red;
  text-align:center;
}
